[submodule "emulator"]
	path = functional/emulator
	url = https://github.com/jasonyu1996/capstone-model.git
[submodule "compiler"]
	path = functional/compiler
	url = https://github.com/jasonyu1996/capstone-c.git
[submodule "gem5"]
	path = gem5
	url = https://github.com/jasonyu1996/capstone-gem5.git
